/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/
body{
    font-family: "Fredoka";
}

/* Utils*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    color: #e53170;
    text-align: center;
    height: 100px;
    padding: 40px 80px;
    font-weight: bold;
}

p{
  text-align: center;
}

.box{
    height: 150px;
    width: 360px;
    background-color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 2px;
    margin-left: 30px;
    float: left;
}

img{
    height: 150px;
    width: 150px;
}
